.memory-game {
    width: 80vw;
    height: 80vw;
    display: flex;
    flex-wrap: wrap;
    margin: 10% auto;
}

@media only screen and (min-width: 450px) {
    .memory-game {
        width: 70vw;
        height: 70vw;
    }
}

@media only screen and (min-width: 770px) {
    .memory-game {
        margin: 2% auto;
    }
}

@media only screen and (min-width: 840px) {
    .memory-game {
        width: 620px;
        height: 620px;
    }
}

@media only screen and (max-height: 400px) {
    .memory-game {
        width: 45vw;
        height: 45vw;
        margin: 10px auto;
    }
}
