.card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 1000px;
            perspective: 1000px;
}

.card:active {
    transform: scale(0.97);
    transition: transform .3s;
}

.inner-card {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: transform 0.8s;
            transition: transform 0.8s;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
}

.inner-card div {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 35px;
    border-radius: 5px;
    background: #3b785a;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.inner-card .front-face {
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
    }

.inner-card.flip {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}
