.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 5%;
    text-align: center;
    font-size: 0.9rem;
}

.btn {
    margin: 20px 0;
    border: none;
    font-family: cursive;
    font-size: 1rem;
    background-color: transparent;
    color: #001f4f;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.btn:focus {
    outline: none;
}

.header {
    font-size: 1.3em;
}

.header h2 {
    margin: 5px 0;
}

.footer {
    margin-bottom: 15%;
}

.footer a {
    color: inherit;
}

@media only screen and (min-width: 770px) {
    .sidebar {
        max-width: 25%;
        text-align: left;
    }

    .header {
        margin-top: 30%;
    }

    .footer {
        margin-bottom: 30%;
    }
}
